.loginStyle { 
  
  background-image: url(./Components/assets/multicolor-fruit-splash-abstract-collection-fruits-slices-juice-rainbow-colors-healthy-food-drink-concept-isolated-157413565.jpg); 
  /* background-image: url(./Components/assets/8-2-fruit-water-splash-transparent.png); */
   background-repeat: no-repeat;
   background-size: cover;  
   height: 90vh;
   min-width: 100%;
   
   }  
   
.App {
  text-align: center;
  }

  /* .navbarButton {
    display: flex !important;
    align-items: right !important;
    justify-content: right !important;
    flex: 1;

  } */

.title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  
}


footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  
} 
footer p {
  font-weight:bold ;
  color: black;
  text-align: center;
  
}


