
/* body { 

  }  this is for a background image but it shows across all pages 

 }   */
 
.logStyle{
  background-image:url('./Components/assets/360_F_199166676_6YRYfiq1sFpEjHv5NnB7AyU6Fk7J6ct2.jpg') ;
  /* background-repeat: no-repeat; */
  position: fixed;
  /* background-size: cover; */
  min-width: 100%;
  min-height: 100%;
  /* background-position: center; */
}

.createLogs{
  font-family: cursive;
  padding: 1vw;
}

.getLogs{
  font-family: cursive;
  padding: 2vw;
  margin-top: 10vh;
}

#logList{
  width: 20vw;
  /* padding:5vw; */
  /* border: black 2px; */
  display: flex;
}

.loginStyle { 
  
  background-image: url(./Components/assets/multicolor-fruit-splash-abstract-collection-fruits-slices-juice-rainbow-colors-healthy-food-drink-concept-isolated-157413565.jpg); 
  /* background-image: url(./Components/assets/8-2-fruit-water-splash-transparent.png); */
   background-repeat: no-repeat;
   background-size: cover;  
   height: 90vh;
   min-width: 100%;
   
   }  
   
.App {
  text-align: center;
  }

  /* .navbarButton {
    display: flex !important;
    align-items: right !important;
    justify-content: right !important;
    flex: 1;

  } */

.title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  
}


footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;   /* Height of the footer */
  
} 
footer p {
  font-weight:bold ;
  color: black;
  text-align: center;
  
}


